{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<div class="container">
	<div class="page-header"> 
	    <h1> Create a Workout! </h1>
	</div>


	<div class="page-content">
		<form method="POST" action="{{ url_for('addworkout') }}" id="workout">
			<label>Exercise</label>
            <select class="form-control" name="exercise1" form="workout">
                {% for exercise in exercises %}
                	<option value="{{ exercise.id }}">{{ exercise.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label>Weight</label>
            <input type="text" class="form-control" name="weight1" placeholder="lbs">
            <br>
            <label>Reps</label>
            <input type="text" class="form-control" name="reps1"> 
            <br><br>




            <button type="submit" class="btn btn-primary btn-secondary">Add Workout</button>
        </form>
	</div>


</div>

{% endblock %}
