{% extends "base.html" %}

{% block title %}Workout Planner{% endblock %}

{% block page_content %}
<section class="hero is-fullheight" style="background-color:  #e3f2fd;">
    <div class="hero-body">
      <div class="container">
        <h1 class="title" style="text-align: center;">
          Workout Planner 
        </h1>
        {% if current_user.is_authenticated %}
        <h2 class="subtitle" style="text-align: center;">
            Hello, {{ current_user.username }}!
        </h2>
        {% else %}
        {% endif %}
      </div>
    </div>
  </section>

{% endblock %}
