{% extends "base.html" %}

{% block title %}Workout Planner{% endblock %}

{% block page_content %}
<div class="content">
    <div class="page-header">
    {% if current_user.is_authenticated %}
    <h1 class="title">
        <h1 style="text-align: center;">Hello, {{ current_user.username }}!</h1>
    </h1>
    {% endif %}
</div>
</div>

{% if current_user.is_authenticated %}
<div class="page-content">
    <!--
    <p> this is the home page - this app will allow users to create workouts by choosing from a list of exercises </p>
    <div class="row">

        <form method="POST" action="{{ url_for('auth.createworkout') }}" id="workout">
        <button type="submit" class="btn btn-primary btn-secondary">Create workout</button>
        </form>

        <form method="POST" action="{{ url_for('auth.exercises') }}" id="workout">
        <button type="submit" class="btn btn-primary btn-secondary">See Exercises</button>
        </form>
        -->
    </div>
</div>
{% else %}
{% endif %}
{% endblock %}
